/* design of the video player */

video.responsive-video 
{
    max-width: 300px;
    height: auto;
}

@media screen and (min-width: 768px)  
{
    video.responsive-video 
    {
        max-width: 640px;
    }
}

#loadingSpinner
{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
