/* design of the video player */

video.responsive-video 
{
    max-width: 97%;
    height: auto;
    box-shadow: 3px 3px 5px rgb(140, 140, 140);
}

#player-box
{
    max-width: 97%;
    height: auto;
}

/*  for tablets */
@media screen and (min-width: 600px)
{
    video.responsive-video 
    {
        max-width: 95%;
    }

    #player-box
    {
        max-width: 95%;
    }
}

/* for laptops and desktops */ 
@media screen and (min-width: 768px)  
{
    video.responsive-video 
    {
        max-width: 67%;
    }

    #player-box
    {
        max-width: 70%;
    }
}

#loadingSpinner
{
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    /* loading animation */
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin 
{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
